
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>错误</title>
    <style>
        .mui-bar-nav {
            height: 0.48rem;
            background-color: #FF6F28;
        }
            .mui-bar-nav .mui-title {
                height: 0.48rem;
                line-height: 0.48rem;
                font-size: .34rem;
                color: #FFFFFF;
            }
    </style>
</head>
<body>
    <hgroup>
        <h1>错误。</h1>
        <h2>处理你的请求时出错。请尝试退出重新登录后再进行操作</h2>
    </hgroup>
</body>
</html>
